<extend name="layout:index" />
<block name="style">
    <link href="__PUBLIC__/plug-in/treegrid/css/jquery.treegrid.css" rel="stylesheet">
    <script src="__PUBLIC__/plug-in/treegrid/js/jquery.treegrid.js" ></script>
<style>
    .label-default{
        background-color: #f5f5f5;
    }
    tr td,th {
        text-align: left;
    }
</style>
</block>
    <block name="content">
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <ol class="breadcrumb">
        <li><a href="{{:U('Index/index')}}">首页</a></li>
        <li><a href="{{:U('Permission/index')}}">权限管理</a></li>
        <li class="active">权限列表</li>
    </ol>

    <div class="row ">
        <div class="col-lg-3">
            <div style="font-size: 20px " class="label label-success">
             <span style="font-size: 20px " ><strong style="top: 4px;" class=" glyphicon glyphicon-wrench"></strong></span> |
            <a style="font-size: 10px "  href="{{:U('Permission/store')}}"><b class="glyphicon glyphicon-plus"></b>添加数据</a> |
            <a style="font-size: 10px "  href="{{:U('Permission/store')}}"><b class="glyphicon glyphicon-plus"></b>批量删除</a>
            </div>
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-3">

        </div><!-- /.col-lg-6 -->
        <div class="col-lg-4">
            <form method="get" action="{{:U('index')}}">
            <div class="input-group">
                <input type="text" name="search" class="form-control" value="{{:I('get.search')}}" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">搜索供应商</button>
              </span>
            </div>
            </form>
        </div>

        <div class="col-lg-2">

        </div>

    </div>
   <hr/>
    <div class="">
        <table  class="table table-striped  tree">
            <thead >
            <tr>

                <th>权限名</th>
                <th>权限路径</th>
                <th>权限介绍</th>
                <th>排序</th>
                <th>状态</th>
                <th>操作 &nbsp;&nbsp;&nbsp;                </th>
            </tr>
            </thead>
            <tbody>

            <volist name='rows["permission"]' id='row' >
                <tr  class="treegrid-{{$row.id}} <if condition='$row.parent_id gt 0'>treegrid-parent-{{$row.parent_id}}</if>">

                    <td>{{$row.name}}</td>
                    <td>{{$row.path}}</td>
                    <td>{{$row.intro}}</td>
                    <td>{{$row.sort}}</td>
                    <td><span  class="glyphicon <if condition='$row.status eq 1'>glyphicon-ok<else />glyphicon-remove</if>"></span></td>
                    <td><a class="btn  btn-info" href="{{:U('Permission/edit',array('id'=>$row['id']))}}"
                           role="button">修改</a> <a class="btn  btn-warning" onclick="return confirm('是否删除')"
                                                   href="{{:U('Permission/destroy',array('id'=>$row['id']))}}"
                                                   role="button">删除</a></td>
                </tr>
            </volist>
            <!-- 供货状态判断-->
            </tbody>

        </table>

            <script type="text/javascript">
                $(function () {
//                    $('.tree').treegrid();
                    $('.tree').treegrid();
                })
        </script>

        <div class="page" >
        {{$rows["html"]}}
        </div>
    </div>

</div>
   </block>
