<extend name="layout:index" />
<block name="content">
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <ol class="breadcrumb">
        <li><a href="{{:U('Index/index')}}">首页</a></li>
        <li><a href="{{:U('ArticleCategory/index')}}">文章分类管理</a></li>
        <li class="active">分类添加</li>
    </ol>

    <hr/>
    <div class="container" style="width: 50%;">


        <form action="{{:U('ArticleCategory/store')}}" method="post">
            <div class="form-group">
                <label >分类名称</label>
                <input type="text" name="name" class="form-control"  placeholder="分类名称">
            </div>
            <div class="form-group">
                <label >简介</label>
                <textarea  name="intro" class="form-control" rows="3">介绍</textarea>
            </div>

            <div class="form-group">
                <label >隶属于分类</label>
                <input class="form-control" id="disabledInput" type="text" value="" disabled>
                <input type="hidden" id="goods_category_id" name="goods_category_id"  value="" >
                <div class="zTreeDemoBackground left">
                    <ul id="goodstree" class="ztree"></ul>
                </div>
            </div>
            <script src="__PUBLIC__/plug-in/ztree/jquery.ztree.core.min.js"></script>
            <link href="__PUBLIC__/plug-in/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
            <script type="text/javascript">
                ///////////////////////////////////    tree 树形      //////////////////////////////////

                var zTreeObj;
                // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
                var setting = {
                    data: {
                        simpleData: {
                            enable: true,
                            pIdKey: "parent_id",
                        }
                    },
                    callback: {
                        onClick: function (event,name,obj) {
                            console.log(obj.name)
                            $('#disabledInput').val(obj.name);
                            $('#goods_category_id').val(obj.id);
                        }
                    }
                };
                // zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）
                var zNodes={{$goodscategory}};
                $(document).ready(function(){
                    zTreeObj = $.fn.zTree.init($("#goodstree"), setting, zNodes);
                    zTreeObj.expandAll(false)
//                    var nodes=zTreeObj.getNodeByParam("id", {{$goods.goods_category_id}});
//                    zTreeObj.selectNode(nodes);
                    //父级name
//                    $('#disabledInput').val(nodes.name);
                    //父级id
//                    $('#goods_category_id').val(nodes.id);
                });

            </script>
            <div class="form-group">
                <label >排序</label>
                <input type="number" name="sort" class="form-control" value="20" placeholder="序号">
            </div>
            <div class="form-group">
                <label >状态</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="status"
                               value="1" checked> 显示
                    </label>
                    <label>
                        <input type="radio" name="status"
                               value="0" > 隐藏
                    </label>
                </div>

            </div>

            <div class="form-group">
                <label>帮助分类</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="is_help"
                               value="1" checked> 有
                    </label>
                    <label>
                        <input type="radio" name="is_help"
                               value="0" > 没有
                    </label>
                </div>

            </div>
            <button type="submit" class="btn btn-success">添加</button>
        </form>
    </div>
</div>

</block>
