<extend name="layout:index" />
<block name="content">
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <ol class="breadcrumb">
        <li><a href="{{:U('Index/index')}}">首页</a></li>
        <li><a href="{{:U('ArticleCategory/index')}}">文章分类管理</a></li>
        <li class="active">分类修改</li>
    </ol>

    <hr/>
    <div class="container" style="width: 50%;">


        <form action="{{:U('articleCategory/edit')}}" method="post">
            <div class="form-group">
                <label >供货商</label>
                <input type="text" name="name" class="form-control"  value="{{$articleCategory.name}}" placeholder="供货商名称">
                <input type="hidden" name="id"  value="{{$articleCategory.id}}" >
            </div>
            <div class="form-group">
                <label >供货商介绍</label>
                <textarea  name="intro" class="form-control" rows="3">{{$articleCategory.intro}}</textarea>
            </div>
            <div class="form-group">
                <label >排序</label>
                <input type="number" name="sort" class="form-control" value="{{$articleCategory.sort}}" placeholder="序号">
            </div>
            <div class="form-group">
                <label >状态</label>
                <div class="radio">
                    <label>
                        <input class="status" type="radio" name="status"
                               value="1" > 显示
                    </label>
                    <label>
                        <input class="status" type="radio" name="status"
                               value="0" > 隐藏
                    </label>
                </div>
                 <script>
                     $(function () {
                         $('.status').val([{{$articleCategory.status|default=1}}]);
                     })
                 </script>
            </div>
            <button type="submit" class="btn btn-success">修改</button>
        </form>
    </div>
</div>

</block>
